* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: #F6F8FC;
}

main {
  padding: 0.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (min-width: 992px) {
  .header__content,
  .content,
  .footer__content {
      max-width: 992px;
      height: auto;
      margin: 1rem auto;
      border-radius: 1rem;
  }
}
